<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newapps"> <!-- আপনার প্রকল্পের সঠিক প্যাকেজ নাম -->

    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
</manifest>
