<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73104170290-9pppfcc9tng242eb8i0ad875c9r7el1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73104170290-9pppfcc9tng242eb8i0ad875c9r7el1l</string>
	<key>API_KEY</key>
	<string>AIzaSyDhLsdM5cpQDv-t0CnwtN8SnV6OxMk2Q3E</string>
	<key>GCM_SENDER_ID</key>
	<string>73104170290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newapps</string>
	<key>PROJECT_ID</key>
	<string>authentication-flutter-6e058</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-flutter-6e058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73104170290:ios:ce43f6e53ce3f8d50d0b2b</string>
</dict>
</plist>